@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; 
@import "tw-elements-react/dist/css/tw-elements-react.min.css";
@import "/node_modules/flag-icons/css/flag-icons.min.css";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex: 1;
  }
  
  main {
    flex: 1;
  }

  .hover-show {
    visibility: visible;
}

.hover-hide {
    visibility: hidden;
}